<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        // 记录由server.js传入的roodId并称为ROOM_ID
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="intro.js" defer></script>
    <title>Intro页</title>
</head>
<style>

</style>

<body>
    
</body>

</html>